
body {
  font-family: sans-serif;
  background: #f0f0f0;
  margin: 0;
}
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.logo {
  width: 80px;
  display: block;
  margin: 20px auto 10px;
}
.title {
  text-align: center;
  font-size: 1.6em;
}
#upload-section {
  text-align: center;
  margin: 20px 0;
}
#videoList button {
  display: block;
  margin: 10px auto;
  padding: 10px;
}
#notes {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 1em;
}
.sticky-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.sticky-menu button {
  font-size: 1.5em;
  background: none;
  border: none;
}


.button {
  display: inline-block;
  padding: 12px 24px;
  margin: 8px;
  background-color: #e60000;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #b30000;
}
